.admin{
	position: absolute;
	height: auto;
	max-width: 400px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
}

.form-signin-heading{
	text-align: center;
}

