body{
	background-color: grey;
}


ul li{
	list-style-type: none;
}

img{
	 min-width: 100%;
    height: auto;
}

.nav-header{
	background-color: #fff;	
}


img.inter{
	margin-right:3px; 
}

img.like{
	padding: 2px;
	border: 1px grey solid;
}

li.tovar{
	background-color: white;
	border-left:2px grey solid;
	border-bottom:2px grey solid;  
}

div.zagolovok{
	padding: 20px 0 0 19px;
}

span.cena{
	font-weight: bold;
	font-size: 18px;
	padding: 18px;
}

.hotkey{
	padding:8px 8px 8px 0;
}

p.type_tovar{
	color:grey;
}

span.cena{
}

ul.top li{
	border: 1px grey solid;
	padding: 0 36px;
}

ul.top li.poisk{
	padding: 0 30px;
}

.article{
	height: 100%;
	background-color: white;
	padding: 40px 40px 66px 40px;
}

.fon_magazin{
	height: auto;
	min-width: 100%;
	align:middle;
}

.razdel_magazin{
	line-height: 40px;
}

p.abzac1{
	padding-bottom: 20px;
}

img.snimok{
	border-bottom: 2px grey solid;
}