body{
	background-color: grey;
}


ul li{
	list-style-type: none;
}

img{
	 min-width: 100%;
    height: auto;
}

a p{text-decoration: none;
color: grey;
}


.nav-header{
	background-color: #fff;	
}


img.inter{
	margin-right:3px; 
}

img.like{
	padding: 1px;
	border: 1px grey solid;
}

figure.tovar{
	min-height: 315px; 
	background-color: white;
	border-left:2px grey solid;
	border-bottom:2px grey solid; 

}

div.zagolovok{
	padding: 20px 0 0 19px;
}

span.cena{
	font-weight: bold;
	font-size: 18px;
	padding:18px 0 0 25px;
	margin: 0 auto;
}


.hotkey{
	padding:12px 12px 12px 0;
}

p.type_tovar{
	color:grey;
}


ul.top li{
	border-right: 1px grey solid;
	border-bottom: 1px grey solid;
	padding: 0 36px;
}

ul{
	padding: 0;
	margin: 0;
}

ul.top li.poisk{
	padding: 0 30px;
}

.article{
	height: 100%;
	background-color: white;
	padding: 40px 40px 66px 40px;
}

.fon_magazin{
	height: auto;
	min-width: 100%;
	align:middle;
}

.razdel_magazin{
	line-height: 40px;
}

p.abzac1{
	padding-bottom: 20px;
}

img.snimok{
	border-bottom: 2px grey solid;
}

footer{
	background-color: white;
}

ul.footer{
	color: grey;
}

.search {
    width: 300px; /* Ширина поля с кнопкой */
    border: 1px solid grey; /* Параметры рамки */
    min-height: 30px; /* Минимальная высота */
   }
   input[type="email"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 254px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
   }
   input[type="submit"] {
   	margin: 5px;
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background: url(../images/sellkorzina.png) no-repeat 50% 50%; /* Параметры фона */
   }

   .work-panel{
   	background-color: white;
   }

   .row-carousel,.carousel-inner,.carousel{
   	max-height:400px;
   	max-width: 893px;
   }

   .btn{
   	max-width: 197px;
   }

 .featurette-image{
 	border-right:1px grey solid; 
 }