body{
	background-color: #f1eff1;
	font-family: 'Ubuntu', sans-serif;
}

body a{
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-webkit-transition: .2s ease-out;
}

body a:hover{
	text-decoration: none;

}

div.sell:hover a{
	color:#3096c6;
}

div.like:hover a{
	color:#3096c6;
}

div.phone:hover a{
	color:#000;
}

button#submit-search {
   	position: relative;
   	margin-top:1px; 
   	margin-left: 7px;
    width: 30px; /* Ширина кнопки */
    line-height: 30px; /* Высота кнопки */
    vertical-align: middle;
    border: none; /* Убираем рамку */
	background:#24a6f3 50% 50%;
   }

span.fa-stack:hover i.fa{
	opacity: 0.7
	; 
}

ul li{
	list-style-type: none;
}

.container{
	margin:0 auto ;
	width: 940px; 
	margin-bottom: 50px; 
}


div.header{
	color: #1f1d1f;
}

div.upperlvl{
	width: 800px;
	height: 49px;
	background-color:#fffeff;
	margin-bottom: 1px;
	color:#303030;
}

div.lowlvl{
	width: 799px;
	height: 49px;
	background-color:#fffeff;
	color:#303030;
}

div.topheader{
	height: 49px;
	border-right: 1px solid #f1eff1;
	display: inline-block;
	float: left;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-webkit-transition: .2s ease-out;
}



.phone:hover, .blike:hover, .bsell:hover{
	background-color:#E1E3DE; 
}


.good li{
	display: inline-block;
	float: left;
	padding: 15px 23px;
}


.lowheader{
-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-webkit-transition: .2s ease-out;
}

.lowheader:hover{
	background-color:#E1E3DE; 
	color:#000;
}

.navbar-nav:hover {
	background-color:#B7B3B3; 
}

 h5:hover a.tui{
 	color: #3096c6;
 }

p.type_tovar:hover a.tui{
	color: #3096c6;
}

div.topheader a{
	line-height: 49px;
	vertical-align: middle;
}

.mobile-phone{
	font-size: 28px;
	padding-right: 10px;
	color:#24a6f3;
	vertical-align: middle;
}

div.phone{

text-align: center;
background-position: 20px;
width: 186px;
}

ul.nav li{
	background-color: white;
} 


div.like{
background-image:url("../images/like.png");
background-repeat:no-repeat;
background-position: 20px;
text-align: center;
width: 166px;
 }

div.sell{
background-image:url("../images/sez.png") red;
background-repeat:no-repeat;
background-position: 20px;
text-align: center;
border: none;
width: 135px;
 }

a.alike{
	padding-left: 30px;
}

a.asell{
	padding-left: 35px;
}

input[type="text"] {
	line-height: 47px;
	width: 268px;
    border: none; 
    outline: none; 
    -webkit-appearance: none; 
    vertical-align: middle;
    padding-left: 23px;
   }

button#submit-poisk {
	margin-right:7px; 
    width: 30px; /* Ширина кнопки */
    line-height: 30px; /* Высота кнопки */
    vertical-align: middle;
    border: none; /* Убираем рамку */
    background-color: white;
    color:black;
    font-size: 18px;
   }

button#submit-poisk:hover{
	font-size: 21px;
	background-color: white;
}

div.poisk{
	padding: 0;

}

div.work-panel{
	width: 233px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #fffeff;
	margin-right: 2px;
	text-align: center;
}

select.menulist{
	outline: none;
	width: 196px;
	height: 36px;
	vertical-align: middle;
	margin-bottom:36px; 
	border: 1px solid #f1eff1;
}

option{
	outline: none;
	width: auto;
	height: 36px;
	vertical-align: middle;
	padding-left: 18px; 
}

#Move{
	margin-bottom: 10px;
	width:196px;
	height:38px;
	color: #fff;
	font:bold 15px Ubuntu;
	background:#24a6f3;
	border:none;
}

#Move:hover{
	background:lightblue;
}


#Move-tovar{
	margin: 20px 10px 30px 20px ;
	text-align: center;
	padding-left: 46px;
	width:220px;
	height:40px;
	color: #fff;
	font:bold 15px Ubuntu;
	background:url(../images/nado.png) #24a6f3 no-repeat;
	border:none;
}

#Move-tovar:hover{
	background:lightblue;
}

.podbor-zagolovok{
	margin: 25px 0;
	color:#303030;
	font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

div.slider{
	width: 720px;
}


span.procenti{
	font:bold 120px Ubuntu;
	padding-left: 50px;
	opacity:0.4;
	position:absolute;
	color:#C1BDBD;
	letter-spacing:-10px;
}

span.name-slide{
	
}


#owl-demo{
	position: relative;
width:720px;
box-sizing: border-box;
overflow: hidden;
}

.page  {
height:405px;
width:720px;
} 

#Move-slider{
	width:196px;
	height:38px;
	color: #fff;
	font:bold 15px Ubuntu;
	background:#24a6f3;
	border:none;
}
b{
	font:bold 120px Ubuntu;
	opacity:0.4;
	color:#e4e4e4;
	position: absolute;
	letter-spacing:-10px;
	margin-left:50px;
	vertical-align: middle;
	top:25%;
}

#View{
	width:148px;
	height:38px;
	color: #fff;
	font:bold 15px Ubuntu;
	background:#f22510;
	margin-left: 50px;
	border:none;
	position: absolute;
	top:65%;
}

#View:hover{background:#FCADAB;}

.view{
	width:148px;
	height:38px;
	color: #fff;
	font:bold 15px Ubuntu;
	background:#f22510;
	margin-left: 50px;
	border:none;
	margin-bottom: 30px;
}

.view:hover{
	background:#FCADAB;
}

p#sell{
	margin-left: 50px;
	font:bold 26px Ubuntu;
	top:43%;
	position: absolute;
}



a p{text-decoration: none;
color: grey;
}

.page1{background-image: url(../images/mattres.png);
	background-size: cover;}
.page2{background-image: url(../images/mattres.png);
	background-size: cover;}
.page3{background-image: url(../images/mattres.png);
	background-size: cover;}

.but-slider{
	margin-left:150px;
	min-width: 150px;
	padding: 10px 45px;
	background-color: #EC1818;
}



h2.zag-slider{
	font:bold 28px Ubuntu;
	padding-top:20px;
	padding-left:50px;
	}


b.procenti{
	font-size:120px;
	padding-left: 150px;
	line-height: 150px;
	vertical-align: middle;
	opacity:0.4;
	position:absolute;
	color:grey;
	letter-spacing:-10px;
}

h2.rasprodaja{
	font:bold 28px Ubuntu;
}

.nav-header{
	background-color: #E3E3DE;	
}



img.inter{
	margin-right:3px; 
}

img.like{
	padding: 8px;
	border: 1px #E3E3DE solid;
}

img.like:hover{
	background-color: #f1eff1;
	color:black;
}

img.korzina{
	padding: 8px;
	background:#24a6f3; ;
}

img.korzina:hover{
	background-color: lightblue;
	color:black;
}

figure.tovar{
	margin-top:2px; 
	max-height: 315px; 
	max-width: 234px;
	background-color: white;
	outline: none; 
    -webkit-appearance: none; 
	color:#303030;
}

select{
   overflow: hidden;
   background: url(../images/strelka.png) no-repeat right center;
   -webkit-appearance: none;
   -moz-appearance: none;
	-o-appearance: none;
	padding-left: 16px;
}

div.zagolovok{
	padding: 20px 0 0 19px;
}

div.zagolovok a{
	color:black;
}

div.fig{
	background-color: white;
	-moz-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	-webkit-transition: .1s ease-out;
	margin:0 1px 1px 0; 
	max-width: 234px;
}

div.fig:hover{
 	box-shadow: 0 0 30px rgba(0,0,0,0.7);
 	z-index: 700;
}

span.cena{
	font-weight: bold;
	font-size: 16px;
	padding:18px 0 0 25px;
	margin: 0 auto;
}

h5{
	font-weight: bold;
	font-size: 16px;
	color:#303030;
}

div.upperlvl,div.lowlvl a{
	font-weight: bold;
	font-size: 14px;
}

.hotkey{
	padding:10px 10px 10px 0;
}


.dropdown-toggle{
	margin-bottom:15px; 
}



ul{
	padding: 0;
	margin: 0;
}



div#navbar{
	height: 51px;
	border-bottom:1px #E3E3DE solid;
}

ul.topnav li{
	display: inline-block;
	min-height: 51px;
	float: left;
	border-right: 1px #E3E3DE solid;

}

#error{
	border: none;
}

.opisanie{	

}

ul.topnav li a{
	display: block;
	line-height: 51px;
	padding: 0 25px;
	color: black;
	font-weight: bold;
	
}

ul.footer li a p:hover{
	color: #3096c6;

}

h4.foooter-zagolovok{
	margin: 60px 0 18px 0;
	font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.article{
	height: 100%;
	max-height: 350px;
	background-color: white;
	padding: 44px;
}

.fon_magazin{
	height: auto;
	min-width: 100%;
	align:middle;
}

p.author-right{
	float: right;
	padding-right:0;
	margin-right: 0; 
}

p.rules-left{
	float: left;
	padding-left: 0;
	margin-left: 0;
}

hr.indexhtml{
	 border: none; /* Убираем границу */
    background-color: #303030; /* Цвет линии */
    color: red;
    max-width: 102px; /* Цвет линии для IE6-7 */
    height: 2px; 
    margin-top: 0;
}

.razdel{
	color:#303030;
}

h4.magazin-zagolovok{
	color:#303030;
	font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom:20px; 
}


.razdel_magazin{
	line-height: 40px;
}

p.abzac1{
	padding-bottom: 20px;

}

p.abzac{
	color:#303030;
}

img.snimok{
	border-bottom: 2px #E3E3DE solid;
}

footer,.underlord{
	background-color: white;
	margin-bottom: 0;
}

ul.footer{
	color: grey;
	font-family: 'Ubuntu', sans-serif;

}

.search {
    width: 236px; /* Ширина поля с кнопкой */
    border: 1px solid #E3E3DE; /* Параметры рамки */
    height: 38px; /* Минимальная высота */
   }
   input[type="email"] {
   	padding-left: 16px;
   	line-height: 33px;
    border: none; 
    outline: none; 
    -webkit-appearance: none; 
    width: 190px; 
    vertical-align: middle; 
   }
   
   button#submit-search {
   	position: relative;
   	margin-top:1px; 
   	margin-left: 7px;
    width: 30px; /* Ширина кнопки */
    line-height: 30px; /* Высота кнопки */
    vertical-align: middle;
    border: none; /* Убираем рамку */
	background:#24a6f3 50% 50%;
   }

	button#submit-search:hover{
	background:#a0e0ff;
	}

span.pull-left,h4{
	font-family: 'Ubuntu', sans-serif;
	color:#303030;
}

   .row-carousel,.carousel-inner,.carousel{
   	max-height:400px;
   	max-width: 893px;
   }

#underground{
	margin-top: 55px;
}

#underground a{
	color:#21a9e2;
}




div.left-side{
	max-height: 740px;
	background-color: red;
}

div.tovar-window{
	margin-right:1px; 
	max-height: 440px;
	background-color: #f0f0f0;
}


div.tovar-panel{
	width: 313px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #fffeff;
}

select.tovarlist{
	width: 118px;
	height: 36px;
	vertical-align: middle;
	font-size: 14px;
	border: 1px solid #f1eff1;
}



span.cena-tovar{
	font-weight: lighter;
	font-size: 24px;
	margin: 0 auto;
	padding: 30px 18px 30px 20px;
	border-bottom: 1px solid #f1eff1;
}

.rub{
	font-size: 16px;
}

.tovar-zagolovok{
	margin:0;
	padding: 28px 0 28px 20px;
	border-bottom: 1px solid #f1eff1;
	color:#303030;
	font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

button#submit-like {
    width: 40px; 
    line-height: 39px; 
    border: none; 
	background:#4e4e4e ;
	font-size: 18px;
   }

button#submit-like:hover{
	background-color: #f1eff1; 
	color:black;
}

   button#submit-sell {

   	margin-right:0; 
    width: 40px; /* Ширина кнопки */
    line-height: 38px; /* Высота кнопки */
    border: none; /* Убираем рамку */
	background:#4e4e4e ;
	font-size: 18px;
   }


img.img-harka{
	padding: 0;
	margin-left: 20px;
}   

div.message{
	height: auto;
	max-width: 276px;
	padding: 22px 0 6px 20px;
	text-align: justify;
}

div.tovar-image{
	max-height: 352px;
	min-width: 100%;
}

div.harkota-otzivi{
	background-color: white; 
	padding: 22px 0 22px 22px;

}

.sub-buttons{
	padding: 22px 0 22px 22px;
}

table{
	margin-top: 9px ;
}

tr{
	
	line-height: 40px;
	vertical-align: middle;
	
}

tr.green{
	background-color: #eaf7fe;
	
}

th.name{
	width: 185px;
	padding-left: 14px;
	 font-weight: 600;
}

th.opis{
	width: 395px;
	font-weight: lighter;
}

.imagination{
	height:200px;
	max-width:940px ;
	background-image: url(../images/turtle.png);
}

.commit-razdel{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	letter-spacing: -2px;
	margin-bottom: 5px;
}

.sub-commit{
	padding: 6px 0 0 50px;
}

.qwe{
	margin-left: 0;
	max-width: 705px; 
}

#slogon{
	word-spacing: 6px;
	padding-bottom:10px;
}

.categori-list{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 15px;
}

.categori-list li {
	padding: 15px 0;
	text-align: left;
	padding-left: 45px;
}

.categori-list li:hover {
	background-color: #D6CCCC;
}

h3.razdel-post{
margin-top: 50px;
}

.paginator {

    white-space: nowrap;
    background: white;
    padding: 10px 175px;
}

.paginator a,
.paginator span {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background: #ffffff;
}

.paginator .current {
    background-color: #16a085;
}

.paginator .disabled {
     opacity: 0.3;
}

.paginator a:hover {
    background-color: #dadada;
}

.paginator a.active{
	background-color:#22a7f0;
}


.likeCircle{
	position: absolute;
	top:13%;
	right: 32%;
	border-radius: 50%;
	max-height: 15px;
	max-width: 15px;
    padding: 2px;
    background-color: red;
	color: white;
    text-align: center;

    font: 10px Arial, sans-serif;
}

.badge-like-word{
	padding-left: 8px;
	font:bold 14px Ubuntu;
	color:black;
}

.badge-like{
	text-align: right;
	color:#24a6f3;
	font-size: 20px;
	padding-left: 28px;
	text-decoration: none;
	vertical-align: middle;
}

.blike{
	width: 166px;
}

.badge-sell-word{
	padding-left: 8px;
	font:bold 14px Ubuntu;
	color:black;
}

.badge-sell{
	text-align: right;
	color:#24a6f3;
	font-size: 20px;
	padding-left: 26px;
	text-decoration: none;
	vertical-align: middle;
}



.bsell{
	width: 139px;
	border: none;
}

.sellCircle{
	position: absolute;
	top:13%;
	right: 11%;
	border-radius: 50%;
	width: 15px;
    height: 15px;
    padding: 2px;
    background-color: red;
	color: white;
    text-align: center;
    font: 10px Arial, sans-serif;
}

.harka{
	margin-left: 20px;
}

.harka-table-row{
	line-height: 15px;
margin-bottom: 10px;	
border-bottom: 1px dotted #CCC;
}

.probel{
	border: hidden;
}

.harka-name{
 	width: 180px;
 	color: #c2c2c2;
 	padding: 0;
 	margin: 0;
}

.harka-opis{
	color:#363636;
	border:none;
}

.chieftan{
	margin-bottom: 2px;
}

.bread { 
	list-style: none; 
	overflow: hidden; 
	font: 'Ubuntu', sans-serif;
	font-size: 16px;
	margin: 23px 0;
	padding: 0;
}
.bread li { 
	float: left; 
}
.bread li a {
	color: #bebebe;
	text-decoration: none;                 
	position: relative; 
	display: block;
	float: left;
}
.bread li a:hover{
	color: #3096c6;
}
.bread li a:after { 
	content: "→"; 
}
